# A brief, basic introduction to Python for scientific computing - Chapter 1
## Everything is an Object

Python enforces a great democracy: everything in it—values, lists, classes, and functions—are objects.  An object comes with multiple properties and functions that can accessed using dot notation.  For example,

In [1]:
s = "hello"
s.capitalize()

'Hello'

In [4]:
s.replace("lo","p")

'help'

We could have used dot notation directly on the string itself:

In [5]:
"hello".capitalize()

'Hello'

The fact that everything is an object has great advantages for programming flexibility.  Any object can be passed to a function; one can send values or arrays, for example, but it is equally easy to send other functions as arguments to functions.  Moreover, almost everything in Python can be packaged up and saved to a file, since there are generic routines that pack and unpack objects into strings.

## Basic Types

Numbers without decimal points are interpreted as integers:

In [4]:
type(1)

int

The type function tells you the Python type of the argument given it.  


Here, the return value in this statement tells you that "1" is interpreted as a Python "int" type, the name for an integer.  Normal integers require 4 bytes of memory each, and can vary between -2147483648 and 2147483647.


On the other hand, large integers exceeding this range are automatically created as "long" integer types:

In [6]:
type(10000000000000000000)

int

Long integers can take on any value; however, they require more memory than normal integers and operations with them are generally slower.


To specify a real or floating point number, use a decimal point:

In [8]:
type(1.)

float

Floating-point numbers in Python are double-precision reals. Their limitations are technically machine-dependent, but generally they range in magnitude between $10^{-308}$ to $10^{308}$ and have up to 14 significant figures.  

In other words, when expressed in scientific notation, the exponent can vary between -308 and 308 and the coefficient can have 14 decimal places.


Python can also handle complex numbers.  The notation "j" indicates the imaginary unit:

In [9]:
type(1+2j)

complex

Complex math is handled appropriately.  Consider multiplication, for example:

In [10]:
(1+2j)*(1-2j)

(5+0j)

Note that Python represents complex numbers using parenthesis.


For every type name in Python, there is an equivalent function that will convert arbitrary values to that type:

In [11]:
int(3.2)

3

In [12]:
float(2)

2.0

In [13]:
complex(1)

(1+0j)

Notice that integers are truncated.  

The round function can be used to round to the nearest integer value; it returns a float:

In [14]:
int(0.8)

0

In [15]:
round(0.8)

1

In [16]:
int(round(0.8))

1

## Python as a Calculator

Add two numbers together:

In [17]:
1+1

2

Floating point division returns a float, even if one of the arguments is an integer.  When performing a mathematical operation, Python converts all values to the same type as the highest precision one:

In [19]:
8./3

2.6666666666666665

Exponentiation is designated with the "**" operator:

In [20]:
8**2

64

In [21]:
8**0.5

2.8284271247461903

*Historical note: Earlier versions of Python prior to Python 3.x had very different handling of arithmetic involving integers. If you deal with Python2.x code or earlier for any reason you may need to make yourself aware of these issues, but these are not being addressed here.*

The modulo operator "%" returns the remainder after division:

In [21]:
>>> 8%3

2

In [22]:
>>> 4%3

1

## Boolean Values and comparison operators

Standard operators can be used to compare two values.  These all return the Boolean constants True or False.

In [23]:
1 > 6

False

In [24]:
2 <= 2

True

The equals comparison involves two consecutive equal signs, "==".  A single equal sign is not a comparison operator and is reserved for assignment (i.e., setting a variable equal to a value).

In [25]:
1 == 2

False

The not equals comparison is given by "!=":

In [26]:
2 != 5

True

Alternatively,

In [27]:
not 2 == 5

True

The Boolean True and False constants have numerical values of 1 and 0 respectively:

In [28]:
int(True)

1

In [29]:
0 == False

True

Logical operators can be used to combine these expressions.  Parenthesis help here:

In [30]:
(2 > 1) and (5 < 8)

True

In [31]:
(2 > 1) or (10 < 8)

True

In [32]:
(not 5 == 5) or (1 > 2)

False

In [33]:
((not 3 > 2) and (8 < 9)) or (9 > 2)

True

## Variable Assignment

Variables can be assigned values.  Unlike many other programming languages, their type does not need to be declared in advance.  Python is dynamically typed, meaning that the type of a variable can change throughout a program:

In [34]:
a = 1
a

1

In [35]:
b = 2
b == a

False

Variables can be incremented or decremented using the "+=" and "-=" operators. These operators are a type of shorthand for operations which are extremely common in programming, where a value is incremented or decremented.
Specifically, frequently one wants to do an operation like this:

In [36]:
a = 1
a = a + 1
a

2

That may look strange mathematically, but note that the right hand side is always evaluated first, so `a = a+1` means that the `a+1` operation is done, then the result is stored in `a`.
This is so common that Python has a shorthand for it:

In [37]:
a += 1
a

-1

In [38]:
a -= 3
a

-4

Similar operators exist for multiplication and division:

In [39]:
a = 2
a *= 4
a

8

In [39]:
a /= 3.
a

-1.3333333333333333

Notice in the last line that the variable a changed type from int to float, due to the floating-point division.

## Strings

One of Python's greatest strengths is its ability to deal with strings.  Strings are variable length and do not need to be defined in advance, just like all other Python variables.


Strings can be defined using double quotation marks:

In [40]:
s = "molecular simulation"
print(s)

molecular simulation

Single quotation marks also work:

In [41]:
s = 'molecular simulation'
print(s)

molecular simulation

The former is sometimes useful for including apostrophes in strings:

In [42]:
s = "My class"
print(s)

My class

Strings can be concatenated using the addition operator:

In [5]:
"molecular " + 'simulation'

'molecular simulation'

The multiplication operator will repeat a string:

In [43]:
s = "hello"*3
s

'hellohellohello'

The len function returns the total length of a string in terms of the number of characters.  This includes any hidden or special characters (e.g., carriage return or line ending symbols).

In [44]:
len("My class")

8

Multi-line strings can be formed using triple quotation marks, which will capture any line breaks and quotes literally within them until reaching another triple quote:

In [45]:
s = """This is a triple-quoted string.
It will pick up the line break in this multi-line sentence."""

Such strings are frequently used to create documentation for functions, a topic we will discuss later.

One can test if substrings are present in strings:

In [44]:
"ram" in "Programming is fun."

True

In [45]:
"y" in "facetious"

False

## Special characters in strings

Line breaks, tabs, and other formatting marks are given by special codes called escape sequences that start with the backslash (`\`) character.  To insert a line break, for example, use the escape sequence `\n`:

In [46]:
print("This sting has a\nline break")

This sting has a
line break

A tab is given by `\t`:

In [48]:
print("Here is a\ttab.")

Here is a	tab.

To include single and double quotes, use `\'` and `\"`:

In [49]:
print("The student said, \"I like this course.\"")

The student said, "I like this course."

Since the backslash is a special character for escape sequences, one has to use a double backslash to include this character in a string:

In [50]:
print("Use the backslash character \\.")

Use the backslash character \.

One can suppress the recognition of escape sequences using literal strings by preceding the opening quotes with the character "r":

In [51]:
print(r"This string will not recognize \t and \n.")

This string will not recognize \t and \n.

## String Formatting

Number values can be  converted to strings at a default precision using Python's str function:

In [52]:
str(1)

'1'

In [53]:
str(1.0)

'1.0'

In [54]:
str(1+2j)

'(1+2j)'

Notice that each of the return values are now strings, indicated by the single quote marks.


To exert more control over the formatting of values in strings, Python includes a powerful formatting syntax signaled by the "%" character.  Here is an example:

In [55]:
s = "The value of pi is %8.3f." % 3.141591
print(s)

The value of pi is    3.142.

In the first line we included in our string a format specification.  We signal the insertion of a formatted value using the "%" character.  The numbers that follow it tell the size and precision of the string output.  The first number always indicates the total number of characters that the value will occupy after conversion to string; here it is 8.  This is not a hard limit for Python, but it uses this number to correctly align up decimal points for multiple string calls.  


The decimal point followed by a 3 tells Python to round to the nearest thousandth.  The "f" character is the final component of the format specification and it tells Python to display the number as a float.  Finally, we have to supply after the string the value to be formatted.  Another "%" character sits in between the string with the format specification and the value to be formatted.


One can omit the total length specification altogether:

In [56]:
print("The value of pi is %.3f." % 3.141591)

The value of pi is 3.142.

If a width specification is provided, Python tries to line up strings at the decimal point:

In [58]:
print("%8.3f" % 10. + "\n" + "%8.3f" % 100. )

  10.000
 100.000

One can suppress this behavior and force Python to left-justify the number within the width specification by placing a minus sign "-" immediately after the percent operator :

In [59]:
print("%-8.3f" % 10. + "\n" + "%-8.3f" % 100. )

10.000
100.000

To explicitly show all zeros within the specification width, place a zero after the percent in the format specification:

In [60]:
print("%08.3f" % 100.)

0100.000

Python offers many other ways to format floating-point numbers.  These are signaled using different format specifications than "f".  For example, exponential notation can be signaled by "e":

In [61]:
print("%10.3e" % 1024.)

 1.024e+03

Integer formatting can be performed using either the "i" or "d" flag.  By default, Python truncates numbers rather than rounding when performing this operation:

In [62]:
print("%i" % 3.6)

3

All of these formatting codes work with either floats or ints; Python is smart enough to convert between them automatically:

In [63]:
print("%.4E" % 238482)

2.3848E+05

Multiple values can be converted in the same string.  To achieve this, place multiple format specifications followed by a list of multiple values contained within parenthesis and separated by commas.  The first format specification will be assigned to the first value, the second to the second value, and so on and so forth.

In [64]:
print("I am %i years old and %.3f meters tall." % (37, 2.02))

I am 37 years old and 2.020 meters tall.

The group of values after the percent sign is actually a tuple in Python, and tuples can be substituted in place of the explicit grouping.  We will talk more about tuples shortly.


Strings can also be values in format specifications, included using the "s" flag:

In [65]:
print("The frame is %.1f by %.1f inches and %s." % (12, 8, "blue"))

The frame is 12.0 by 8.0 inches and blue.

If one wants to specify the width of a format specification using the value of a variable, a `*` is used in place of the width value and an additional integer precedes the value to be formatted in the subsequent tuple:

In [66]:
a = 10
print("%0*i" % (a, 12345))

0000012345

In format specifications, the "%" character is special and needs to be escaped using "%%" if one wants to include it in the string:

In [67]:
print("I bought %i gallons of 2%% milk." % 2)

I bought 2 gallons of 2% milk.

## Lists

Python's ability to manipulate lists of variables and objects is core to its programming style.  There are essentially two kinds of list objects in Python, tuples and lists.  The difference between the two is that the former is fixed and can't be modified once created, while the latter allows additions and deletions of objects, sorting, and other kinds of modifications.  Tuples tend to be slightly faster than lists, but the speed benefit is rarely substantial and a good rule of thumb is to always use lists.  


Lists can be created with brackets:

In [68]:
l = [1,2,3,4,5]
print(l)

[1, 2, 3, 4, 5]

Long lists can be spread across multiple lines.  Here, the use of the line continuation character "\" is optional, since Python automatically assumes a continuation until it finds the same number of closing as opening brackets.  It is important, however, that indentation is consistent:

In [69]:
l = [1, 2, 3,
      4, 5, 6, 
      7, 8, 9]
 #<hit return>
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Two lists can be concatenated (combined) using the addition operator:

In [70]:
[1,2] + [3,4]

[1, 2, 3, 4]

Notice that addition does not correspond to vector addition, in which corresponding terms are added elementwise.  For vectors, we highly recommend arrays as provided by the NumPy libraries addressed elsewhere.


To repeat items in a list, use the multiplication operator:

In [71]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

The increment operators work similarly for lists

In [72]:
l1 = [1,2,3]
l2 = [4,5,6]
l1 += l2
l1

[1, 2, 3, 4, 5, 6]

The range function automatically produces `range` objects which behave like lists made of a sequence of numbers.  It has the form range(start, stop, step), where the first and last arguments are optional.  

Note that range always starts at zero and is exclusive of the upper bound (e.g., the resulting object does not include stop).

The length of a list can be checked:

In [78]:
len([1, 3, 5, 7])

4

## Accessing list elements

List elements can be accessed using bracket notation:

In [79]:
l = [1,4,7]
l[0]

1

In [80]:
l[2]

7

Notice that the first element in a list has index 0, and the last index is one less than the length of the list.  This is different than Fortran, but is similar to C and C++.  

All sequence objects (lists, tuples, and arrays) in Python have indices that start at 0.
An out-of-bounds index will return an error:

In [81]:
l[3]

IndexError: list index out of range

Individual elements can be set using bracket notation:

In [82]:
l = [1,4,7]
l[0] = 5
l

[5, 4, 7]

Negative indices can be used to identify elements with respect to the end of a list, basically by counting backwards from the end:

In [83]:
l = [1,4,7]
l[-1]

7

In [84]:
l[-3]

1

Slices or subsections of lists can be extracted using the notation l[lower:upper:step] where lower gives the inclusive lower element index, upper gives the exclusive upper index, and the optional step gives the increment between the two.

In [85]:
l = [1,2,3,4,5]
l[0:4]

[1, 2, 3, 4]

In [86]:
l[0:4:2]

[1, 3]

If lower is omitted, it defaults to 0 (the first element in the list).  If upper is omitted, it defaults to the list length.

In [87]:
l = [1,2,3,4,5]
l[:4]

[1, 2, 3, 4]

In [88]:
l[2:]

[3, 4, 5]

In [89]:
l[::2]

[1, 3, 5]

Negative indices can be used for list slicing as well.  

To take only the last 3 elements, for example:

In [90]:
l[-3:]

[3, 4, 5]

To take all but the last two elements:

In [91]:
l[:-2]

[1, 2, 3]

In slices, list indices that exceed the range of the array do not throw an error but are truncated to fit:

In [93]:
l = [4,2,8,5,2]
l[2:10]

[8, 5, 2]

In [94]:
l[-10:3]

[4, 2, 8]

## List comprehensions

Python provides a convenient syntax for creating new lists from existing lists, tuples, or other iterable objects.  These list comprehensions have the general form

[expression for object in iterable]

For example, we can create a list of squared integers:

In [95]:
[i*i for i in range(5)]

[0, 1, 4, 9, 16]

In the expression above, elements from the list created by the range function are accessed in sequence and assigned to the variable i.  The new list then takes each element and squares it.  Keep in mind that Python creates a new list whenever a list construction is called.  Any list over which it iterates is not modified.


The iterable does not have to be returned by the range function.  Some other examples:

In [96]:
[k*5 for k in [4,8,9]]

[20, 40, 45]

In [97]:
[q**(0.5) for q in (4,9,16)]

[2.0, 3.0, 4.0]

In [98]:
[k % 2 == 0 for k in range(5)]

[True, False, True, False, True]

In [99]:
[character for character in "Python"]

['P', 'y', 't', 'h', 'o', 'n']

More than one iterable can be included in the same list.  Python evaluates the rightmost iterables the fastest.  For example, we can create all sublists [j,k] for 0 < j < k ≤ 3:

In [100]:
[[j,k] for j in range(4) for k in range(j+1,4)]

[[0, 1], [0, 2], [0, 3], [1, 2], [1, 3], [2, 3]]

It is also possible to filter items in list comprehensions using if statements.  The general form is:

[expression for object in iterable if condition]

For example, we could have also written the above list of sublists as:

In [101]:
[[j,k] for j in range(4) for k in range(4) if j < k]

[[0, 1], [0, 2], [0, 3], [1, 2], [1, 3], [2, 3]]

Here is another example that filters a list for elements containing the letter "l":

In [102]:
[s for s in ["blue", "red", "green", "yellow"] if "l" in s]

['blue', 'yellow']

Here is a similar example, taking the first character of each string:

In [103]:
[s[0] for s in ["blue", "red", "green", "yellow"] if "l" in s]

['b', 'y']

## List operations and functions

Lists can contain any type of object in Python.  They can contain mixed types and even other lists:

In [104]:
l = [1., 2, "three", [4, 5, 6]]
l[2]

'three'

In [105]:
l[3]

[4, 5, 6]

Multiple indices can be used to access lists within lists:

In [106]:
l = [1., 2, "three", [4, 5, 6]]
l[3][1]

5

You can test if a value or object is in a list:

In [107]:
3 in [1, 2, 3]

True

In [108]:
4 in range(4)

False

Elements can be deleted from lists:

In [116]:
l = [9,2,9,3]
del(l[1])
l

[9, 9, 3]

Deletion can use slice notation:

In [121]:
l = [9,2,1,3]
del(l[1:3])
l

[9, 3]

The first instance of a particular element can be removed:

In [122]:
l = [1, 2, 3, 2, 1]
l.remove(2)
l

[1, 3, 2, 1]

Items can be added to lists at particular locations using insert(index, val) or slice notation:

In [82]:
l = [1, 2, 3, 4]
l.insert(2, 0)
l

[1, 2, 0, 3, 4]

In [123]:
l = l[:4] + [100] + l[4:]
l

[1, 3, 2, 1, 100]

To create an empty list and add elements to it:

In [124]:
l = []
l.append(4)
l

[4]

In [125]:
l.extend([5,6])
l

[4, 5, 6]

In [86]:
l.append([5,6])
l

[4, 5, 6, [5, 6]]

The difference between the append and extend list methods is that append will add the argument as a new member of the list, whereas extend will add all of the contents of a list argument to the end of the list.


List items can be counted:

In [126]:
[1, 2, 6, 2, 3, 1, 1].count(1)

3

You can find the index of the first instance of a list element. If the element is not in the list, an error is produced.

In [88]:
l = [1, 5, 2, 7, 2]
l.index(2)

2

In [127]:
l.index(8)

ValueError: 8 is not in list

If a list contains all numeric values, it can be summed:

In [128]:
sum([0, 1, 2, 3])

6

Lists can be sorted:

In [129]:
l = [4, 2, 7, 4, 9, 1]
sorted(l)

[1, 2, 4, 4, 7, 9]

In [92]:
l

[4, 2, 7, 4, 9, 1]

In [130]:
l.sort()
l

[1, 2, 4, 4, 7, 9]

Notice that the function `sorted` returns a new list and does not affect the original one, whereas the list function `sort` modifies the original list itself.  


The `sort` function can take an optional argument, `key`, which takes a single argument and returns a key to use for sorting purposes (such as a numerical value or a string). See the [Python sorting how-to](https://docs.python.org/3/howto/sorting.html).

Sorting works fine on text values and some other types:

In [133]:
sorted(['pear', 'apple', 'orange', 'cranberry'])

['apple', 'cranberry', 'orange', 'pear']

But sometimes more complex types of data need to be sorted, or user defined types of data (such as classes). In such cases it is possible to use the `key` option to get the desired behavior out of sorting.

If list members are lists themselves, sorting operates using the first element of each sublist, and subsequent elements as needed:

In [135]:
l = [[5, 'apple'], [3, 'orange'], [7, 'pear'], [3, 'cranberry']]
sorted(l)

[[3, 'cranberry'], [3, 'orange'], [5, 'apple'], [7, 'pear']]

Lists can also be reversed:

In [136]:
l = [1, 2, 3]
l.reverse()
l

[3, 2, 1]